*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-background{
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 125px;
    background-color: #4ea0ff;
}
.header-logo{
    height: 50px;
    margin-top: 70px;
    margin-left: 10px;
}