*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-background{
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 125px;
    background-color: #4ea0ff;
}
.header-logo{
    height: 50px;
    margin-top: 70px;
    margin-left: 10px;
}
.main-spacer{
    margin-top: 20px;
}
.main-border{
    margin-left: 20px;
    margin-right: 10px;
}
.subtitle-text-1{
    color: #808080;
}
.subtitle-text-2{
    color: #20a9e5;
}
.main-images{
    height: 300px;
}
.images-caption{
    font-size: 12px;
}
.highlighted{
    background-color: #ffff00;
}
.list-spacer{
    margin-left:17px;
    margin-top: 20px;
}
.table{
    width: 100%;
    border: none;
    text-align: left;
    border-collapse: collapse;
}
.col-char{
    width: 1000px;
}
th{
    background-color: #20a9e5;
    color: white;
}
.even{
    background-color: #b1e5f2;
}
.odd{
    
}